* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: #333;
    height: 100vh;
}

header {
    background-image: linear-gradient(rgb(252, 247, 189),rgb(119, 91, 13)) ;
    color: white;
    width: 100vw;
    text-align: center;
    width: 100vw;
    
}

header h1 {
    padding: 20px;
}


header nav {
    background-image: linear-gradient(grey,rgb(27, 24, 24)) ;
    background-color: #444343;
    padding: 10px;
}
header nav a {
    text-decoration: none;
    font-size: larger;
    color: inherit;
    margin: 0 10px;
}

.caixa {
    border: 2px dotted black;
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    background-color: #f0f0f0;
}

.caixa h2 {
    padding-bottom: 10px;
}

.caixa p {
    padding-bottom: 10px;
}

.caixa li {
    margin-left: 20px;
}

.flex-container {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.item {
    background-image: linear-gradient(20deg,#5d4191,#963dca);
    margin: 10px;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.200);
    color: white;
    width: 200px;
    height: 200px;
    transition: background-image 0.3s;
}

.item:hover {
    background-image: linear-gradient(20deg,#c5ad22, #ceb41f);
}

.imagem {
    width: 200px;
    height: auto;
    border-radius: 2px;
}

.item a {
    text-decoration: none;
    color: inherit;
}

.item p {
    font-size: 15px;
    color: #ddd;
    margin: 10px;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    width: 100vw;
    padding: 10px;
    position: fixed;
    bottom: 0;
}