* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0debd;
    color: #333;
    height: 100vh;
}

header {
    background-color: #f0debd;
    width: 100vw;
    text-align: center;
    width: 100vw;
    
}

.logo {
    width: 200px;
    height: auto;
}


header nav {
    background-color: #3b200f;
    padding: 10px;
}
header nav a {
    text-decoration: none;
    font-size: larger;
    color: #f0debd;
    margin: 0 10px;
}

.caixa {
    border: 2px dotted #3b200f;
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    background-color: #f0debd;
}

.caixa h2 {
    padding-bottom: 10px;
}

.caixa p {
    padding-bottom: 10px;
}

.caixa li {
    margin-left: 20px;
}



.flex-container {
    background-color: #f0debd;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.item {
    background-color: #ecd5a9;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.200);
    color: #3b200f;
    width: 260px;
    height: 300px;
    transition: background-image 0.3s;
    box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.100);
}

.item:hover {
    background-image: linear-gradient(20deg,#ccbc9f, #f0debd);
}

.imagem {
    width: 260px;
    height: auto;
    border-radius: 2px;
}

.item a {
    text-decoration: none;
    color: inherit;
}

.item p {
    font-size: 15px;
    color: #3b200f;
}

footer {
    box-sizing: border-box;
    background-color: #3b200f;
    color: white;
    text-align: center;
    width: 100vw;
    padding: 10px;
}