body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
    padding: 20px;
}

h1,h2 {
    color: #333;
}

form, #remover-titulo {
    margin-bottom: 15px;
}

input {
    margin: 5px 0;
    padding: 8px;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    
}

button {
    padding: 10px 15px;
    background-color: #2e8b57;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #246b45;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-left: 4px solid #2e8b57;
}